# Global
*.DS_Store
*.log
*.env
.env.*
node_modules/
*.swp
*.swo
__pycache__/

# VSCode
.vscode/

# Python (backend/)
backend/__pycache__/
backend/**/*.py[cod]
backend/**/__pycache__/
backend/*.sqlite3
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.venv/
backend/venv/
backend/env/
backend/.env
backend/.env.*

# React (frontend/)
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/build/
frontend/dist/
frontend/.parcel-cache/
frontend/.next/
frontend/.turbo/
frontend/.eslintcache

# Yarn/PNPM/NPM lock files (use only the one you need)
frontend/yarn.lock
frontend/pnpm-lock.yaml
frontend/package-lock.json

# OS-specific
Thumbs.db
ehthumbs.db
